<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Welcome to the Meeting Planner!</h1>
        <p>
            This is the demo application for the course
            <em>Django: Getting Started</em>
            on  <a href="https://www.pluralsight.com">PluralSight</a>
        </p>
        <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
            <il>
                <a href="{% url 'detail' meeting.id %}"><!-- /meetings/{{meeting.id}} -->
                    {{ meeting.title}}
                </a>
            </il>
        {% endfor %}


    </ul>

    <a href="{% url 'rooms' %}">Rooms List</a>
    </body>
</html>